<!-- Links -->
<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="policy">Terms and Policies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="feedback">Feedback</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="contact">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="ide">Practice</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="language">Language Choice</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="chat">Chat</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="register">Register</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="challenges">Challenges</a>
  </li>
</ul>
